.bgColor{
    background-color: maroon;
}

.w{
    color: #FFFFFFFF;
    border-style: double;
}

.al{
    display: flex; justify-content: left;
}
.ac{
    display: flex; justify-content: center;
}
.ar{
    display: flex; justify-content: right;
}